* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0px;
}
a {
  text-decoration: none;
  color: black;
}
.header__lien {
  text-decoration: none;
  color: white;
}
header {
  display: flex;
  align-items: center;
  background-color: #fff5ee;
  justify-content: flex-end;
}
.header__logo {
  display: flex;
  justify-content: flex-start;
  flex: 1;

  & img {
    width: 400px;
  }
}
.header__panier {
  background-color: #d7b66f;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-right: 50px;
  color: white;
  & i {
    font-size: 20px;
    padding-right: 15px;
    color: white;
  }
}
h1 {
  margin: 0px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  background-color: #d7b66f;
}

// Accueil

.liste {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 25px;
  background-color: #f2f2f2;
  & img {
    width: 300px;
    height: 300px;
  }
  &__carte {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    border: 2px black solid;
    background-color: #f2f2f2;
    &__image img {
      width: 100%;
      object-fit: cover;
    }
    &__description {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 10px 0px;
    }
    &__prix {
      display: flex;
      justify-content: center;
      font-weight: 800;
      margin-bottom: 5px;
    }
    & h2 {
      display: flex;
      justify-content: center;
      margin: 5px 0px;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff5ee;
  & ul {
    list-style: none;
    padding-left: 10px;
  }
  & li {
    font-weight: 700;
  }
}
.footer__logo img {
  width: 150px;
}

.footer__rs {
  padding-right: 10px;
  font-size: 20px;
}
// Panier

.panier {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  & img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid black;
  }
  &__carte {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    border: 2px solid black;
    &__article {
      padding-left: 20px;
    }
    &__description {
      padding-left: 20px;
      padding-right: 40px;
    }
    &__vernis {
      order: 3;
    }
    &__quantite {
      padding-left: 20px;
      order: 5;
      &__input {
        width: 30%;
      }
    }
    &__prix {
      padding-left: 20px;
      padding-right: 5px;
      order: 4;
      &__somme {
        padding-top: 30px;
        font-weight: 700;
      }
    }
    &__supprimer {
      height: 20%;
      order: 5;
      margin-top: 60px;
      margin-right: 15px;
    }
  }
  &__prixTotal {
    font-weight: 700;
    font-size: 22px;
  }
  &__responsive {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
.recap {
  display: flex;
  order: 2;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f2f2f2;
  border: 2px solid black;
  width: 25%;
  justify-content: space-around;
  padding: 5px;
  &__article {
    display: flex;
    justify-content: space-between;
  }
  &__livraison {
    display: flex;
    justify-content: space-between;
  }
  &__total {
    display: flex;
    justify-content: space-between;
  }
  &__commander {
    display: flex;
    justify-content: center;
    &__bouton {
      background-color: #d7b66f;
      color: white;
      border: 1px solid #f2f2f2;
      padding: 8px;
    }
  }
}
.recap__formulaire {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.formulaire {
  background-color: #f2f2f2;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 30%;
  &__nom {
    padding: 5px 0px;
  }
  &__mail {
    padding: 5px 0px;
  }
  &__adresse {
    padding: 5px 0px;
  }
  & input {
    display: block;
    width: 150px;
    float: right;
  }
  & form {
    font-size: 15px;
  }
}
// confirmation

.confirmation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__logo {
    font-size: 100px;
    color: #d7b66f;
    margin-bottom: 40px;
    margin-top: 80px;
  }
  &__merci {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__info {
    font-size: 16px;
    margin-bottom: 30px;
  }
  &__bouton {
    color: white;
    background-color: #d7b66f;
    border: 0px;
    padding: 5px;
    width: 10%;
  }
}

// produit

.produit {
  margin: 30px 0px;
  display: flex;
  justify-content: center;

  &__carte {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 60%;
    &__texte {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
    &__image {
      width: 100%;
      margin-bottom: 20px;
    }
    &__description {
      margin: 10px 10px;
      &__titre {
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
    &__prix {
      margin: 10px 10px;
      font-weight: 700;
    }
    &__panier {
      display: flex;
      justify-content: center;
      background-color: #d7b66f;
      color: white;
      padding: 7px;
      text-align: center;
      width: 25%;
      & i {
        margin-right: 10px;
      }
      &__bouton {
        background-color: #d7b66f;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
    &__vernis {
      margin-top: 20px;
      & select {
        width: 25%;
        max-width: 100px;
      }
    }
  }
  & img {
    height: 28rem;
    object-fit: cover;
    border: 1px solid black;
    width: 100%;
  }
}

@media all and (min-width: 490px) and (max-width: 750px) {
  .liste {
    flex-direction: column;
    width: 100%;

    &__carte {
      width: 60%;
    }
  }
  .header__logo img {
    width: 250px;
  }
  .header__panier {
    margin-right: 1%;
  }
  h1 {
    text-align: center;
    padding: 0% 5%;
  }

  .produit__carte {
    width: 80%;
  }
  .panier__carte {
    font-size: 12px;
    &__description {
      padding: 0px 10px;
      & p {
        display: none;
      }
    }
    &__vernis {
      display: flex;
      flex-direction: row;
      width: 35%;
      align-items: center;
      margin-left: 25px;
    }
    &__prix {
      display: flex;
      flex-direction: row;
      width: 35%;
      align-items: center;
      margin-left: 25px;
      padding-left: 0px;
      &__somme {
        padding-top: 0px;
      }
    }
    &__quantite {
      padding-right: 15px;
      width: 12%;
      display: flex;
      flex-direction: row;
      width: 35%;
      align-items: center;
      margin-left: 25px;
      padding-left: 0px;
      & input {
        max-width: 30px;
      }
      & h3 {
        padding-right: 10px;
      }
    }
    &__supprimer {
      margin-top: 0px;
      margin-left: 25px;
      margin-bottom: 20px;
    }
    & h3 {
      width: 50%;
    }
  }
  .panier__responsive {
    display: flex;
    flex-direction: column;
  }
  .formulaire {
    display: flex;
    align-items: flex-start;
    width: 60%;
    padding-left: 10px;
    & h4 {
      margin: 5px 0;
    }
  }
  .recap__commander {
    margin: 10px 0px;
  }
}

@media all and (min-width: 1px) and (max-width: 489px) {
  .liste {
    flex-direction: column;
    width: 100%;

    &__carte {
      width: 70%;
    }
  }
  h1 {
    text-align: center;
    padding: 0% 5%;
  }
  .header__panier {
    margin-right: 1%;
    margin-bottom: 5%;
    margin-top: 3%;
    padding: 5px;
  }
  .header__logo img {
    width: 150px;
    margin-bottom: 5%;
  }
  .footer {
    &__logo {
      width: 100px;
    }
    &__rs {
      font-size: 16px;
    }
  }
  footer li {
    font-size: 12px;
  }

  .produit__carte {
    width: 90%;
  }
  .produit__carte__panier {
    width: 35%;
  }
  .panier__carte {
    font-size: 12px;
    &__description {
      padding: 0px 10px;
      & p {
        display: none;
      }
    }
    &__vernis {
      display: flex;
      flex-direction: row;
      width: 60%;
      align-items: center;
      margin-left: 25px;
    }
    &__prix {
      display: flex;
      flex-direction: row;
      width: 60%;
      align-items: center;
      margin-left: 25px;
      padding-left: 0px;
      &__somme {
        padding-top: 0px;
      }
    }
    &__quantite {
      padding-right: 15px;
      display: flex;
      flex-direction: row;
      width: 60%;
      align-items: center;
      margin-left: 25px;
      padding-left: 0px;
      & input {
        max-width: 30px;
      }
      & h3 {
        padding-right: 10px;
      }
    }
    &__supprimer {
      margin-top: 0px;
      margin-left: 25px;
      margin-bottom: 20px;
    }
    & h3 {
      width: 50%;
    }
  }
  .panier__responsive {
    display: flex;
    flex-direction: column;
  }
  .formulaire {
    display: flex;
    align-items: flex-start;
    width: 70%;
    padding-left: 10px;
    & h4 {
      margin: 5px 0;
    }
  }
  .recap__commander {
    margin: 10px 0px;
  }
}
