* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.header__lien {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  align-items: center;
  background-color: #fff5ee;
  justify-content: flex-end;
}

.header__logo {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.header__logo img {
  width: 400px;
}

.header__panier {
  background-color: #d7b66f;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-right: 50px;
  color: white;
}
.header__panier i {
  font-size: 20px;
  padding-right: 15px;
  color: white;
}

h1 {
  margin: 0px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  background-color: #d7b66f;
}

.liste {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 25px;
  background-color: #f2f2f2;
}
.liste img {
  width: 300px;
  height: 300px;
}
.liste__carte {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  border: 2px black solid;
  background-color: #f2f2f2;
}
.liste__carte__image img {
  width: 100%;
  object-fit: cover;
}
.liste__carte__description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px 0px;
}
.liste__carte__prix {
  display: flex;
  justify-content: center;
  font-weight: 800;
  margin-bottom: 5px;
}
.liste__carte h2 {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff5ee;
}
footer ul {
  list-style: none;
  padding-left: 10px;
}
footer li {
  font-weight: 700;
}

.footer__logo img {
  width: 150px;
}

.footer__rs {
  padding-right: 10px;
  font-size: 20px;
}

.panier {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.panier img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid black;
}
.panier__carte {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border: 2px solid black;
}
.panier__carte__article {
  padding-left: 20px;
}
.panier__carte__description {
  padding-left: 20px;
  padding-right: 40px;
}
.panier__carte__vernis {
  order: 3;
}
.panier__carte__quantite {
  padding-left: 20px;
  order: 5;
}
.panier__carte__quantite__input {
  width: 30%;
}
.panier__carte__prix {
  padding-left: 20px;
  padding-right: 5px;
  order: 4;
}
.panier__carte__prix__somme {
  padding-top: 30px;
  font-weight: 700;
}
.panier__carte__supprimer {
  height: 20%;
  order: 5;
  margin-top: 60px;
  margin-right: 15px;
}
.panier__prixTotal {
  font-weight: 700;
  font-size: 22px;
}

.recap {
  display: flex;
  order: 2;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f2f2f2;
  border: 2px solid black;
  width: 25%;
  justify-content: space-around;
  padding: 5px;
}
.recap__article {
  display: flex;
  justify-content: space-between;
}
.recap__livraison {
  display: flex;
  justify-content: space-between;
}
.recap__total {
  display: flex;
  justify-content: space-between;
}
.recap__commander {
  display: flex;
  justify-content: center;
}
.recap__commander__bouton {
  background-color: #d7b66f;
  color: white;
  border: 1px solid #f2f2f2;
  padding: 8px;
}

.recap__formulaire {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.formulaire {
  background-color: #f2f2f2;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 30%;
}
.formulaire__nom {
  padding: 5px 0px;
}
.formulaire__mail {
  padding: 5px 0px;
}
.formulaire__adresse {
  padding: 5px 0px;
}
.formulaire input {
  display: block;
  width: 150px;
  float: right;
}

.confirmation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.confirmation__logo {
  font-size: 100px;
  color: #d7b66f;
  margin-bottom: 40px;
  margin-top: 80px;
}
.confirmation__merci {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}
.confirmation__info {
  font-size: 16px;
  margin-bottom: 30px;
}
.confirmation__bouton {
  color: white;
  background-color: #d7b66f;
  border: 0px;
  padding: 5px;
  width: 10%;
}

.produit {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}
.produit__carte {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 60%;
}
.produit__carte__texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.produit__carte__image {
  width: 100%;
  margin-bottom: 20px;
}
.produit__carte__description {
  margin: 10px 10px;
}
.produit__carte__description__titre {
  font-weight: 700;
  margin-bottom: 10px;
}
.produit__carte__prix {
  margin: 10px 10px;
  font-weight: 700;
}
.produit__carte__panier {
  display: flex;
  justify-content: center;
  background-color: #d7b66f;
  color: white;
  padding: 7px;
  text-align: center;
  width: 25%;
}
.produit__carte__panier i {
  margin-right: 10px;
}
.produit__carte__panier__bouton {
  background-color: #d7b66f;
  border: none;
  color: white;
  cursor: pointer;
}
.produit__carte__vernis {
  margin-top: 20px;
}
.produit__carte__vernis select {
  width: 25%;
}
.produit img {
  height: 28rem;
  object-fit: cover;
  border: 1px solid black;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
